fastapi==0.115.0
uvicorn[standard]==0.32.0
sqlalchemy==2.0.36
psycopg[binary]==3.2.3
pydantic==2.9.2
pydantic-settings==2.4.0
redis==5.0.8
openai==1.54.0
loguru==0.7.1
pytest==8.3.1
httpx==0.27.0
alembic==1.13.0
PyJWT==2.9.0
bcrypt==4.2.0
python-multipart==0.0.9

scikit-learn==1.5.2
scipy==1.14.1

sentence-transformers==3.1.1
